@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 44, 44);
}

.brandName {
    font-size: 20px;
    color: rgb(255, 83, 3);
}

.brandName:hover{
    color: rgba(0,136,169,1);
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.brandName{
    cursor: pointer;
}

.navLinks{
    list-style: none;
    li{
        display: inline-block;
        padding: 0 20px;
    }li:hover{
        color:red;
    }
}

.btnHeader {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btnHeader:hover{
    background-color: rgb(255, 83, 3);
}

.navLink{
    text-decoration: none;
    position: relative;
}

.navLink:hover{
    color: rgb(255, 83, 3);
}

.navLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navLink:hover::before{
    transform: scaleX(1);
}

.contactFormContainer{
    background-color: #000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding-top: 60px;
}

.contact__form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #0c0c0c;
    border-radius: 0 !important;
    border: 1px solid #fff;
}

.contact__form input.form-control {
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px);
}

.btn {
    color: white;
    border: 2px solid white;
}

.btn:hover {
    color: white
}
